.form__button {
    width: 40%;
    height: 40px;
    font-size: 14px;
    border: 0;
    border-radius: 15px;
    margin: 0;
    padding-bottom: 5px;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
    font-family: inherit;
}

.form__button[type="submit"] {
    background-color: #000;
  }

.form__button[type="reset"] {
    background-color: #ff0000;
  }

.form__button:hover {
    opacity: .7;
  }

.form__button:focus {
    outline-color: #f2f2f2;
  }